.page {
    height: 100vh;
}

.filters {
    margin: 20px 0px;
}

.actions {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;
}

.dancing-details .badge {
    margin-bottom: 5px;
}
