@import "sfd-theme.scss";
@import "~bootstrap/scss/bootstrap.scss";

$leaderColor: #008094;
$followerColor: #5a0044;

$ncColor: #ffffff;
$b1Color: #bdb102;
$b2Color: #3ba000;
$int1Color: #00025f;
$int2Color: #b6000f;
$unknownLevelColor: #e25300;

.badge {
    &.dancing-role {
        &.LEADER {
            background-color: $leaderColor;
        }
        &.FOLLOWER {
            background-color: $followerColor;
        }
    }

    &.level {
        &.NEWCOMER {
            background-color: $ncColor;
            border: 1px solid black;
            color: black;
        }
        &.B1 {
            background-color: $b1Color;
        }
        &.B2 {
            background-color: $b2Color;
        }
        &.INTERMEDIATE_1 {
            background-color: $int1Color;
        }
        &.INTERMEDIATE_2 {
            background-color: $int2Color;
        }
        &:not(.NEWCOMER, .B1, .B2, .INTERMEDIATE_1, .INTERMEDIATE_2) {
            background-color: $unknownLevelColor;
        }
    }
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 21px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}
